<% if current_page.last? %>
	<li class="disabled">
		<%= link_to t('views.pagination.next').html_safe, '#' %>
	</li>
<% else %>
	<li>
		<%= link_to t('views.pagination.next').html_safe, url, :rel => 'next', :remote => remote %>
	</li>
<% end %>
