<tbody>
	<tr>
		<td><%= link_to post.title, post %></td>
		<td><%= link_to post.category.name, post.category %></td>
		<td><%= link_to post.user.full_name, user_path(post.user) %></td>
	</tr>
</tbody>
