<tbody>
	<tr>
		<td><%= link_to post.title, post %></td>
		<td><%= link_to post.category.name, post.category %></td>
		<td><%= link_to post.admin_user.username, admin_user_path(post.admin_user) %></td>
	</tr>
</tbody>
