<% if @posts.empty? %>
	<h1>
		Sonuç bulunamadı!
	</h1>
	<%= link_to 'Anasayfaya dönmek için tık', root_url %>
<% else %>
	<h1>
		Bulunan sonuçlar
	</h1>
	
	<table>
		<thead>
			<tr>
				<th width="700">Başlık</th>
				<th width="150">Kategori</th>
				<th>Yazar</th>
			</tr>
		</thead>

		<%= render @posts %>
	</table>
	
	<%= paginate @posts %>
<% end %>
