<h1>Kategoriler</h1>

<table class="table">
	<thead>
		<tr>
			<th>Kategori</th>
			<th>Yazı sayısı</th>
		</tr>
	</thead>
	
	<tbody>
		<% @categories.each do |c| %>
			<tr>
				<td>
					<%= link_to c.name, c %>	
				</td>
				<td>
					<%= c.posts.published.count %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
