<% cache do %>
<div class="blog-footer">
  <p><i>Özgür Duvar!</i> bir özgür yazılımdır. Daha fazlası için <%= link_to 'github repo', 'https://github.com/yigitsadic/ozgurblog' %></p>
  <center>
  	<%= link_to(image_tag('rss-icon.png'), feeds_posts_url(:format => :rss)) %>
  </center>
</div>
<% end %>