<!--<div class="blog-masthead">
  <div class="container">-->
    <nav class="navbar navbar-default  navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Özgür Duvar!', root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav"> 
          <li><%= link_to 'kategoriler', categories_path %></li>
          <li><%= link_to 'yazarlar', users_path %></li>
          <li><%= link_to 'iletişim', new_message_path %></li>
        </ul>
      </div>
    </nav>
  <!--</div>
</div>-->